
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff solid 1px;
  gap: 10px;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.glass-effect-logo{
  backdrop-filter: blur(1.8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}