

.loading-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;

  svg{
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.3s, transform 0.3s;
  }
}